<div class="row above-table-actions-row" ng-init="init()">
  <ul class="above-table-actions">
    <li class="above-table-action-left above-table-action">archive
    </li>
    <li class="above-table-action-left" ng-click="deleteChecked()">delete
    </li>
    <li class="above-table-action-left" ng-if="areOptionsSelected" ng-click="clearFilters()">Clear Filters
    </li>
    <li class="above-table-action-right above-table-action">View: <span class="dropdown-text" ng-click="toggleViewDropdown()">active</span> <span class="caret"></span>
      <div class="action-dropdown {{view}}">
        <div class="dropdown-content">
          <div class="dropdown-title" ng-click="toggleViewDropdown()">
            View
          </div>
          <ul class="dropdown-list">
            <li ng-click="closeDropdowns()">Active</li>
            <li>Inactive</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="above-table-action-right action-with-icon toggle-button" ng-class="{'active': publishedActive}" ng-click="togglePublished()">Only Published</li>
    <li class="above-table-action-right action-with-icon toggle-button" ng-class="{'active': templatesActive}" ng-click="toggleTemplates()">Show Templates</li>
    <!--                <li style="float:right;"><button class="btn  inga-btn inga-btn-positive">Add Student</button></li>-->
  </ul>
</div>
<div class="row" style="padding-bottom:3em;">
  <table class="inga-table clickable-rows" style="position:relative;">
    <tr>
      <!--                    <th><span style="float:left;"><input type="checkbox" /></span><span style="float:left;">Title</span><span class="glyphicon glyphicon-search search-icon"></span></th>-->
      <th>
        <div class="search-box no-highlight" ng-class="{'open' : searchOpen}">
          <input type="checkbox" ng-model="allChecked" ng-change="toggleAllChecked()"/>
          <span class="search-box-title">Title</span><span class="glyphicon glyphicon-search search-icon" ng-click="toggleSearchOpen()"></span><span class="search-box-textbox-span">
            <input id="studentSearchInput" ng-model="studentSearchInput" type="text" class="search-input-textbox" placeholder="Search Students" uib-typeahead="address for address in studentSearch($viewValue)" typeahead-min-length="0" my-focus>
          </span>
        </div>
      </th>
      <th ng-repeat="heading in headingOptions">
        <div class="heading-title" ng-click="openHeading(heading)">
          {{heading.heading}}
          <span class="caret"></span>
          <p class="heading-title-selected" ng-if="heading.selected.Key">{{heading.selected.Key}}</p>
        </div>
        <div class="table-heading-dropdown" ng-class="{'open' : heading.open, 'other-option-selected' : areOptionsSelected, 'option-selected' : heading.selected.Key}">
          <div class="table-heading-dropdown-content">
            <div class="dropdown-title no-highlight" ng-click="closeHeadings()">
              {{heading.heading}}
              <span class="caret"></span>
            </div>
            <ul class="dropdown-list">
              <li ng-click="selectHeadingOption(heading, option)" ng-class="{'selected' : option == heading.selected}" ng-repeat="option in heading.options | orderBy: itemSortValue">{{option.Key}}</li>
            </ul>
          </div>
        </div>
      </th>
      <th></th>
    </tr>
    <tr ng-repeat="assessment in currentAssessments track by assessment.DistrictAssessmentKey"
    ng-class="{'selected': assessment.checked}" ng-click="openAssessmentViewModal(assessment)" ng-if="!templatesActive">
      <td>
        <input type="checkbox" ng-model="assessment.checked" ng-checked="assessment.checked" noclick />{{assessment.Title}}</td>
        <td>{{assessment.GradeLevel.GradeLevelName}}</td>
        <td>{{assessment.StandardType.StandardTypeName}}</td>
        <td>{{assessment.Subject.SubjectName}}</td>
        <td>{{assessment.SchoolYear.SchoolYearName}}</td>
        <td></td>
      </tr>
      <tr ng-repeat="template in currentAssessmentTemplates track by template.AssessmentTemplateKey"
      ng-class="{'selected': template.checked}" ng-click="openAssessmentTemplateViewModal(template)" ng-if="templatesActive">
        <td>
          <input type="checkbox" ng-model="template.checked" ng-checked="template.checked" noclick />{{template.Title}}</td>
          <td>{{template.GradeLevel.GradeLevelName}}</td>
          <td>{{template.StandardType.StandardTypeName}}</td>
          <td>{{template.Subject.SubjectName}}</td>
          <td>{{template.SchoolYear.SchoolYearName}}</td>
          <td></td>
        </tr>
        </table>
      </div>
