<div class="row" ng-init="init()">
    <div class="detail-row">
        <div class="col-sm-3">
            <span class="inline-detail"><h6><span class="detail-title"><strong>Subject Area:</strong></span> {{currentAssessment.Subject.SubjectName}}</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Calendar:</strong></span> {{currentAssessment.Calendar.CalendarName}}</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Std Type:</strong></span> {{currentAssessment.StandardType.StandardTypeName}}</h6>
            </span>
            <!-- <span class="inline-detail"><h6><span class="detail-title"><strong>Term:</strong></span> Winter</h6>
            </span> -->
        </div>
        <div class="col-sm-3">
            <span class="inline-detail"><h6><span class="detail-title"><strong>School Year:</strong></span> {{currentAssessment.SchoolYear.SchoolYearName}}</h6>
            </span>
            <!-- <span class="inline-detail"><h6><span class="detail-title"><strong>Section:</strong></span> 1(A)</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Subject:</strong></span> Art</h6>
            </span> -->
        </div>

        <div class="clearfix"></div>

    </div>
</div>
<div class="row">
    <table class="inga-table" style="position:relative;">
          <tr>
            <!--                    <th><span style="float:left;"><input type="checkbox" /></span><span style="float:left;">Title</span><span class="glyphicon glyphicon-search search-icon"></span></th>-->
            <th>
              <div class="search-box no-highlight" ng-class="{'open' : searchOpen}">
                <input type="checkbox" class="always-transparent"/>
                <span class="search-box-title">School</span><span class="glyphicon glyphicon-search search-icon" ng-click="toggleSearchOpen()"></span><span class="search-box-textbox-span">
                  <input id="studentSearchInput" ng-model="studentSearchInput" type="text" class="search-input-textbox" placeholder="Search Students" uib-typeahead="address for address in studentSearch($viewValue)" typeahead-min-length="0" my-focus>
                </span>
              </div>
            </th>
            <th ng-repeat="heading in headingOptions">
              <div class="heading-title" ng-click="openHeading(heading)">
                {{heading.heading}}
                <span class="caret"></span>
                <p class="heading-title-selected" ng-if="heading.selected.key">{{heading.selected.key}}</p>
              </div>
              <div class="table-heading-dropdown" ng-class="{'open' : heading.open, 'other-option-selected' : areOptionsSelected, 'option-selected' : heading.selected.Key}">
                <div class="table-heading-dropdown-content">
                  <div class="dropdown-title no-highlight" ng-click="closeHeadings()">
                    {{heading.heading}}
                    <span class="caret"></span>
                  </div>
                  <ul class="dropdown-list">
                    <li ng-click="selectHeadingOption(heading, option)" ng-class="{'selected' : option == heading.selected}" ng-repeat="option in heading.options | orderBy: itemSortValue">{{option.Key}}</li>
                  </ul>
                </div>
              </div>
            </th>
            <th></th>
          </tr>
          <tr ng-repeat="classroom in currentClassrooms" ng-class="{'selected': classroom.checked}">
            <td>
              <input type="checkbox" ng-model="classroom.checked" ng-checked="classroom.checked"/>{{classroom.School.SchoolName}}</td>
              <td>{{classroom.SchoolTeacher.LastName}}, {{classroom.SchoolTeacher.FirstName}} ({{classroom.SchoolTeacher.TeacherNumber}})</td>
              <td>{{classroom.Course.CourseName}}</td>
              <td>{{classroom.SectionNumber}}</td>
              <td>{{classroom.ScheduleTerm.TermName}}</td>
              <td>{{classroom.AssignedString}}</td>
              <td></td>
            </tr>
    </table>
</div>
