<div class="row" ng-init="init()">
    <table class="inga-table clickable-rows" style="position:relative;">
          <tr>
            <!--                    <th><span style="float:left;"><input type="checkbox" /></span><span style="float:left;">Title</span><span class="glyphicon glyphicon-search search-icon"></span></th>-->
            <th>
              <div class="search-box no-highlight" ng-class="{'open' : searchOpen}">
                <input type="checkbox" class="always-transparent"/>
                <span class="search-box-title">Title</span><span class="glyphicon glyphicon-search search-icon" ng-click="toggleSearchOpen()"></span><span class="search-box-textbox-span">
                  <input id="studentSearchInput" ng-model="studentSearchInput" type="text" class="search-input-textbox" placeholder="Search Students" uib-typeahead="address for address in studentSearch($viewValue)" typeahead-min-length="0" my-focus>
                </span>
              </div>
            </th>
            <th ng-repeat="heading in headingOptions">
              <div class="heading-title" ng-click="openHeading(heading, $event)" ng-class="{'no-click': !heading.filterable}">
                {{heading.heading}}
                <span class="caret" ng-if="heading.filterable"></span>
                <p class="heading-title-selected" ng-if="heading.selected.Key">{{heading.selected.Key}}</p>
              </div>
              <div class="table-heading-dropdown" ng-class="{'open' : heading.open, 'other-option-selected' : areOptionsSelected, 'option-selected' : heading.selected.Key}">
                <div class="table-heading-dropdown-content">
                  <div class="dropdown-title no-highlight" ng-click="closeHeadings()">
                    {{heading.heading}}
                    <span class="caret"></span>
                  </div>
                  <input ng-if="heading.input" typeahead-on-select="selectHeadingOption(heading, $item)" type="text" ng-model="heading.selected" uib-typeahead="state as state.Key for state in heading.options | orderBy: heading.Key | filter:$viewValue | limitTo:8" class="form-control dropdown-input">
                  <ul ng-if="!heading.input" class="dropdown-list">
                    <li ng-click="selectHeadingOption(heading, option)" ng-class="{'selected' : option == heading.selected}" ng-repeat="option in heading.options | orderBy: itemSortValue">{{option.Key}}</li>
                  </ul>
                </div>
              </div>
            </th>
            <th></th>
          </tr>
          <tr ng-repeat="assessment in currentClassroomAssessments" ng-class="{'selected': assessment.checked}" ng-click="goToDataEntry(assessment)">
            <td>
              <input type="checkbox" class="always-transparent" noclick />{{assessment.Title}}</td>
              <td>{{assessment.SchoolTeacher.LastName}}, {{assessment.SchoolTeacher.FirstName}} ({{assessment.SchoolTeacher.TeacherNumber}})</td>
              <td>{{assessment.Classroom.Course.CourseName}}</td>
              <td>{{assessment.Classroom.SectionNumber}}</td>
              <td>{{assessment.Classroom.ScheduleTerm.TermName}}</td>
              <td></td>
            </tr>
    </table>
</div>
