<div class="row" ng-init="init()">
  <!-- <pre>{{currentAssessment | json}}</pre> -->
    <div class="detail-row">
        <div class="col-sm-3">
            <span class="inline-detail"><h6><span class="detail-title"><strong>School:</strong></span> {{currentAssessment.School.SchoolName}}</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Course:</strong></span> {{currentAssessment.Classroom.Course.CourseName}}</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Std Type:</strong></span> {{currentAssessment.StandardType.StandardTypeName}}</h6>
            </span>
            <!-- <span class="inline-detail"><h6><span class="detail-title"><strong>Term:</strong></span> Winter</h6>
            </span> -->
        </div>
        <div class="col-sm-3">
            <span class="inline-detail"><h6><span class="detail-title"><strong>Teacher:</strong></span> {{currentAssessment.SchoolTeacher.FirstName}} {{currentAssessment.SchoolTeacher.LastName}} ({{currentAssessment.SchoolTeacher.TeacherNumber}})</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Section:</strong></span> {{currentAssessment.Classroom.SectionNumber}}</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Subject:</strong></span> {{currentAssessment.Subject.SubjectName}}</h6>
            </span>
        </div>
        <!-- <div class="col-sm-6">
            <a href="score_student_view.html" class="btn inga-btn inga-btn-negative inga-icon-btn inactive float-right"><i class="glyphicon glyphicon-user"></i>
            </a>
            <a class="btn inga-btn inga-btn-negative inga-icon-btn float-right"><i class="glyphicon glyphicon-align-justify"></i>
            </a>
        </div> -->
        <div class="clearfix"></div>

    </div>
</div>
<div class="row above-table-actions-row">
    <ul class="above-table-actions">
        <li class="above-table-action-left">Show All
        </li>
        <li class="above-table-action-left">Hide selected
        </li>
        <li class="above-table-action-left">Remove selected
        </li>
        <li class="above-table-action-left">Absent
        </li>
        <li class="above-table-action-left">Export to excel
        </li>
        <!--
        <li class="above-table-action-right above-table-action">View: <span class="dropdown-text" ng-click="toggleViewDropdown()">active</span> <span class="caret"></span>
            <div class="action-dropdown {{view}}">
                <div class="dropdown-content">
                    <div class="dropdown-title" ng-click="toggleViewDropdown()">
                        View
                    </div>
                    <ul class="dropdown-list">
                        <li ng-click="closeDropdowns()">Active</li>
                        <li>Inactive</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="above-table-action-right action-with-icon"><i class="glyphicon glyphicon-ok success-icon"></i> published</li>
-->
        <li style="float:right;">
            <button class="btn inga-btn inga-btn-positive" onclick="showAddStudentModal();">Add Student</button>
        </li>
    </ul>
</div>
<div class="row">
    <div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-pinning class="grid"></div>

    <!-- <table class="inga-table score-entry-table" style="position:relative;">
        <thead>
            <tr>
                <th>
                  <div class="search-box no-highlight" ng-class="{'open' : searchOpen}">
                    <input type="checkbox" ng-model="allChecked" ng-change="toggleAllChecked()"/>
                    <span class="search-box-title">Student</span><span class="glyphicon glyphicon-search search-icon" ng-click="toggleSearchOpen()"></span><span class="search-box-textbox-span">
                      <input id="studentSearchInput" ng-model="studentSearchInput" type="text" class="search-input-textbox" placeholder="Search Students" uib-typeahead="address for address in studentSearch($viewValue)" typeahead-min-length="0" my-focus>
                    </span>
                  </div>
                </th>
                <th>
                    <div class="heading-title">1(10) FP</div>
                </th>
                <th>
                    <div class="heading-title">2(25) Daze</div>
                </th>
                <th>
                    <div class="heading-title">3(25) MBSP</div>
                </th>
                <th>
                    <div class="heading-title">4(25) MBSP</div>
                </th>
                <th>
                    <div class="heading-title">5(25) MBSP</div>
                </th>
                <th>
                    <div class="heading-title">6(25) MBSP</div>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" />Margaret Cruz
                </td>
                <td><a href="#" editable-text="user.name" buttons="no">{{ user.name || "empty" }}</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />Sean Reynolds
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />Margaret Cruz
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />Sean Reynolds
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table> -->
</div>
