<div class="row" ng-init="init()">
  <!-- <pre>{{currentAssessment | json}}</pre> -->
    <div class="detail-row">
        <div class="col-sm-3">
            <span class="inline-detail"><h6><span class="detail-title"><strong>School:</strong></span> {{currentAssessment.School.SchoolName}}</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Course:</strong></span> {{currentAssessment.Classroom.Course.CourseName}}</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Std Type:</strong></span> {{currentAssessment.StandardType.StandardTypeName}}</h6>
            </span>
            <!-- <span class="inline-detail"><h6><span class="detail-title"><strong>Term:</strong></span> Winter</h6>
            </span> -->
        </div>
        <div class="col-sm-3">
            <span class="inline-detail"><h6><span class="detail-title"><strong>Teacher:</strong></span> {{currentAssessment.SchoolTeacher.FirstName}} {{currentAssessment.SchoolTeacher.LastName}} ({{currentAssessment.SchoolTeacher.TeacherNumber}})</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Section:</strong></span> {{currentAssessment.Classroom.SectionNumber}}</h6>
            </span>
            <span class="inline-detail"><h6><span class="detail-title"><strong>Subject:</strong></span> {{currentAssessment.Subject.SubjectName}}</h6>
            </span>
        </div>
        <!-- <div class="col-sm-6">
            <a href="score_student_view.html" class="btn inga-btn inga-btn-negative inga-icon-btn inactive float-right"><i class="glyphicon glyphicon-user"></i>
            </a>
            <a class="btn inga-btn inga-btn-negative inga-icon-btn float-right"><i class="glyphicon glyphicon-align-justify"></i>
            </a>
        </div> -->
        <div class="clearfix"></div>

    </div>
</div>
<div class="row above-table-actions-row">
    <ul class="above-table-actions">
        <!-- <li class="above-table-action-left" ng-if="areStudentsHidden" ng-click="showAllStudents()">Show All
        </li>
        <li class="above-table-action-left" ng-if="areRowsChecked()" ng-click="hideChecked()">Hide selected
        </li> -->
        <li class="above-table-action-left" ng-if="areRowsChecked()" ng-click="removeChecked()">Remove selected
        </li>
        <li class="above-table-action-left no-click" ng-if="currentAssessment.Calendar || currentAssessment.MarkingPeriod.Children.length > 0">
          Marking Period
        </li>
        <li class="above-table-action-left" ng-if="currentAssessment.Calendar.MarkingPeriods">
          <select class="form-control" ng-options="markingPeriod as markingPeriod.Name for markingPeriod in currentAssessment.Calendar.MarkingPeriods"
          ng-model="$parent.selectedMarkingPeriod" ng-change="selectMarkingPeriod($parent.selectedMarkingPeriod)">Select Marking Period</select>
        </li>
        <li class="above-table-action-left" ng-if="selectedMarkingPeriod.Children.length > 0">
          <select class="form-control" ng-options="markingPeriod as markingPeriod.Name for markingPeriod in selectedMarkingPeriod.Children"
          ng-model="$parent.selectedMarkingPeriodChild" ng-change="selectMarkingPeriod($parent.selectedMarkingPeriodChild)">Select Marking Period</select>
        </li>
        <li class="above-table-action-right">
            <button class="btn inga-btn inga-btn-negative action-button-right" ng-click="validateStudents()">Sync Student List</button>
        </li>
    </ul>
</div>
<div class="row">
    <div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-pinning ui-grid-validate class="grid"></div>
</div>
