<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Inga Assesment Management</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <style>
        @import url('fonts/fontie_14394397501733/AvenirNextLTPro-Regular.css');
        @import url('fonts/fontie_14394037598687/AvenirLTStd-Medium.css');
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="MyController">
    <div class="container" style="background-color:#ffffff;">
        <div class="row">
            <div class="title-row">
                <div class="col-sm-5">
                    <span class="page-type-title">INGA</span>
                    <h2 class="title page-title">Data Entry</h2>
                </div>
                <div class="col-sm-7">
                    <button class="btn  top-button inga-btn inga-btn-positive" onclick="$('#newAssessmentModal').modal('show');">Assessment Lookup</button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="inga-table" style="position:relative;">
                <thead>
                    <tr>
                        <!--                    <th><span style="float:left;"><input type="checkbox" /></span><span style="float:left;">Title</span><span class="glyphicon glyphicon-search search-icon"></span></th>-->
                        <th>
                            <div class="search-box {{open}}"><span style="float:left;"><input type="checkbox" /></span><span class="search-box-title">Title</span><span class="glyphicon glyphicon-search search-icon" ng-click="toggleOpen()"></span><span class="search-box-textbox-span"><input id="input1" type="text" class="search-input-textbox" placeholder="Search Title" my-focus></span>
                            </div>
                        </th>
                        <th>
                            <div class="heading-title" ng-click="toggleHeading1()">Teacher <span class="caret"></span>
                            </div>
                            <div class="table-heading-dropdown {{heading1}}">
                                <div class="table-heading-dropdown-content">
                                    <div class="dropdown-title">Teacher <span class="caret"></span>
                                    </div>
                                    <ul class="dropdown-list">
                                        <li ng-click="closeDropdowns()">K</li>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-title" ng-click="toggleHeading2()">Course <span class="caret"></span>
                            </div>
                            <div class="table-heading-dropdown {{heading2}}">
                                <div class="table-heading-dropdown-content">
                                    <div class="dropdown-title">Course <span class="caret"></span>
                                    </div>
                                    <ul class="dropdown-list">
                                        <li>K</li>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-title" ng-click="toggleHeading3()">Section <span class="caret"></span>
                            </div>
                            <div class="table-heading-dropdown {{heading3}}">
                                <div class="table-heading-dropdown-content">
                                    <div class="dropdown-title">Section <span class="caret"></span>
                                    </div>
                                    <ul class="dropdown-list">
                                        <li>K</li>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-title" ng-click="toggleHeading4()">Term <span class="caret"></span>
                            </div>
                            <div class="table-heading-dropdown {{heading4}}">
                                <div class="table-heading-dropdown-content">
                                    <div class="dropdown-title">Term <span class="caret"></span>
                                    </div>
                                    <ul class="dropdown-list">
                                        <li>K</li>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
<!--                rowlink grabs the link from the first cell and makes the whole row link to that  -->
                <tbody data-link="row" class="rowlink">
                    <tr>
                        <td>
<!--                            checkboxes left transparent for spacing -->
                            <input type="checkbox" class="always-transparent" /><a href="assessment_class_score_view.html">Appleview Elem School</a></td>
                        <td>Murdock, Mischell (288)</td>
                        <td>Art</td>
                        <td>1(A)</td>
                        <td>2014-2015</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" class="always-transparent" /><a href="assessment_class_score_view.html">Appleview Elem School</a></td>
                        <td>Murdock, Mischell (288)</td>
                        <td>Art</td>
                        <td>1(A)</td>
                        <td>2014-2015</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" class="always-transparent" /><a href="assessment_class_score_view.html">Appleview Elem School</a></td>
                        <td>Murdock, Mischell (288)</td>
                        <td>Art</td>
                        <td>1(A)</td>
                        <td>2014-2015</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dropdowns = $(".table-heading-dropdown");
            for (var i = 0; i < dropdowns.length; i++) {
                $(dropdowns[i]).width($(dropdowns[i]).parent("th").outerWidth());
            }
            var tableActionDropdowns = $(".action-dropdown");
            for (var i = 0; i < tableActionDropdowns.length; i++) {
                $(tableActionDropdowns[i]).width($(tableActionDropdowns[i]).parent("li").outerWidth());
            }
            var checkboxes = $(".inga-table :checkbox");
            for (var j = 1; j < checkboxes.length; j++) {
                $(checkboxes[j]).click(function () {
                    $(this).parent().parent().toggleClass("selected");
                });
            }
        });

        var showNewItemModal = function () {
            $("#newAssessmentModal").modal("hide");
            $('#newAssessmentItemModal').modal({
                show: true
            });
        }

        var hideAddAssessmentItem = function () {
            $('#newAssessmentItemModal').modal("hide");
            $('#newAssessmentModal').modal({
                show: true
            });
        }

        var showViewAssessmentModal = function () {
            $("#newAssessmentModal").modal("hide");
            $('#viewAssessmentModal').modal({
                show: true
            });
        }
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
</body>

</html>