<div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title-back">Assessment View</h5>
    <h4 class="modal-title-with-back" id="myModalLabel">{{assessment.title}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <form>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Grade Level</label>
                    <h5 class="detail-text">{{assessment.grade.gradeName}}</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Subject Area</label>
                    <h5 class="detail-text">Art</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Schedule Date</label>
                    <h5 class="detail-text">Current Schedule</h5>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">School Year</label>
                    <h5 class="detail-text">2014-2015</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Standard Type</label>
                    <h5 class="detail-text">AP Learning Objectives</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Schedule Date</label>
                    <h5 class="detail-text"></h5>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Term</label>
                    <h5 class="detail-text">Term 1</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Report Group</label>
                    <h5 class="detail-text">Group 1</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Optional File</label>
                    <h5 class="detail-text">file.txt</h5>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Scoring</label>
                    <br>
                    <input type="checkbox" name="vehicle" value="Bike" disabled><span class="checkbox-span">Scantron/TurningKey</span>
                    <br>
                </div>
            </div>

        </form>
    </div>
    <div class="row table-title-row">
        <div class="col-sm-5">
            <h5 class="modal-table-title">Assessment Items</h5>
        </div>
    </div>
    <table class="modal-table">
        <tr>
            <th>Order</th>
            <th>Standard</th>
            <th>Item Type</th>
            <th>Correct Score</th>
            <th>Points</th>
        </tr>
        <!--
        <tr class="empty-table-row">
            <td colspan="5">No records to display</td>
        </tr>
-->
        <tr>
            <td>1</td>
            <td>AP Learning Objectives</td>
            <td>1</td>
            <td>5</td>
            <td>10</td>
        </tr>
    </table>

    <div class="row below-table-btn-row">
        <button class="btn  inga-btn inga-btn-positive right-btn" ng-click="assignAssessment()">Assign</button>
        <button class="btn  inga-btn inga-btn-negative right-btn" ng-click="ok()">OK</button>
    </div>
</div>
