<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel" >{{pageTitle}}</h4>
</div>
<div class="modal-body" ng-init="init()">
  <div class="row">
  </div>
    <div class="row">
        <!-- <form> -->
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="inputEmail">Title</label>
                    <input type="text" class="form-control" id="assessmentTitle" placeholder="Assessment title" ng-model="newAssessment.Title" >
                </div>
            </div>
            <div ng-class="{'col-sm-6': multipleDistrictOptions, 'col-sm-4': !multipleDistrictOptions}">
                <div class="form-group">
                    <label for="inputEmail">Template</label>
                    <select class="form-control ng-animate-disabled" ng-options="template as template.Title for template in templateOptions track by template.AssessmentTemplateKey"
                    ng-model="newAssessment.AssessmentTemplate" ng-change="selectTemplate()" ng-disabled="templateLocked"></select>
                </div>
            </div>
            <div ng-class="{'col-sm-6': multipleDistrictOptions}" ng-if="multipleDistrictOptions">
                <div class="form-group">
                    <label for="inputEmail">District</label>
                    <select class="form-control ng-animate-disabled" ng-options="district as district.DistrictName for district in districtOptions track by district.DistrictKey"
                    ng-model="newAssessment.District" ng-disabled="templateSelected"></select>
                </div>
            </div>
            <div ng-class="{'col-sm-6': multipleDistrictOptions, 'col-sm-4': !multipleDistrictOptions}">
                <div class="form-group">
                    <label for="inputEmail">Calendar</label>
                    <select class="form-control ng-animate-disabled" ng-options="calendar as calendar.CalendarName for calendar in calendarOptions track by calendar.CalendarKey"
                    ng-model="newAssessment.Calendar" ng-disabled="templateSelected"></select>
                </div>
            </div>
            <div ng-class="{'col-sm-6': multipleDistrictOptions, 'col-sm-4': !multipleDistrictOptions}">
                <div class="form-group">
                    <label for="inputEmail">Grade Level</label>
                    <select class="form-control ng-animate-disabled" ng-options="grade as grade.GradeLevelName for grade in gradeOptions track by grade.GradeLevelKey"
                    ng-model="newAssessment.GradeLevel" ng-disabled="templateSelected"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Subject</label>
                    <select class="form-control ng-animate-disabled" ng-options="subject as subject.SubjectName for subject in subjectOptions track by subject.SubjectKey"
                    ng-model="newAssessment.Subject" ng-disabled="templateSelected"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Standard Type</label>
                    <select class="form-control ng-animate-disabled" ng-options="standardType as standardType.StandardTypeName for standardType in standardTypeOptions track by standardType.StandardTypeKey"
                    ng-model="newAssessment.StandardType" ng-disabled="templateSelected"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">School Year</label>
                    <select class="form-control ng-animate-disabled" ng-options="schoolYear as schoolYear.SchoolYearName for schoolYear in schoolYearOptions track by schoolYear.SchoolYearKey" ng-model="newAssessment.SchoolYear"></select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <!-- <div class="form-group">
                    <label for="inputEmail">Term</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Enter term">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Report Group</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Enter report group">
                </div> -->
                <div class="form-group">
                    <label for="inputEmail">Scoring</label>
                    <br>
                    <input type="checkbox" ng-model="newAssessment.IsScantron" ng-checked="newAssessment.IsScantron" ng-disabled="templateSelected">
                    <span class="checkbox-span">Scantron</span>
                    <br>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" ng-if="templateSelected">
                    <!-- <label for="inputEmail">Optional File</label>
                    <input type="file" class="form-control" id="inputTitle" placeholder="Enter term">
                    <button class="btn inga-btn inga-btn-negative upload-btn">Upload</button> -->
                    <p class="optional-upload-paragraph">By using a template to create an assessment, the items associated are locked. Contact administrator to request changes.</p>
                </div>
            </div>
        <!-- </form> -->
    </div>
    <div class="row table-title-row">
        <div class="col-sm-5">
            <h5 class="modal-table-title">Assessment Items</h5>
        </div>
        <div class="col-sm-7">
            <button class="btn  inga-btn inga-btn-positive right-btn"
            ng-click="openNewAssessmentItemModal()" ng-disabled="templateSelected">New Item</button>
        </div>
    </div>
    <table class="modal-table" >
        <thead>
            <th>Order</th>
            <th>Standard</th>
            <th>Item Type</th>
            <th>Correct Score</th>
            <th>Points</th>
        </thead>

        <tbody ui-sortable="sortableOptions" ng-model="newAssessment.DistrictAssessmentItems">
          <tr class="empty-table-row" ng-if="!newAssessment.DistrictAssessmentItems || newAssessment.DistrictAssessmentItems.length == 0">
              <td colspan="5">No items to display</td>
          </tr>
          <tr ng-repeat="item in newAssessment.DistrictAssessmentItems">
              <td>{{item.Item.ItemOrder}}</td>
              <td>{{item.Item.StandardTypeDescription}}</td>
              <td>{{item.Item.ItemType.TypeName}}</td>
              <td>{{item.Item.CorrectScore}}</td>
              <td>{{item.Item.PointsMax}}</td>
          </tr>
      </tbody>
    </table>
    <!-- <div class="row">
        <div class="below-table-checkbox">
            <input type="checkbox" name="vehicle" value="Bike"><span class="checkbox-span">Save New Assessment as a Template</span>
        </div>
    </div> -->
    <div class="row below-table-btn-row">
        <button class="btn  inga-btn inga-btn-positive right-btn" ng-click="publish()" ng-if="!newAssessment.IsPublished">Publish</button>
        <button class="btn  inga-btn inga-btn-negative right-btn" ng-click="ok()">Save &amp; Exit</button>
        <button class="btn  inga-btn inga-btn-negative right-btn" ng-click="cancel()">Cancel</button>
    </div>
</div>
{{newAssessment}}
