<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel" >{{pageTitle}}</h4>
</div>
<div class="modal-body" ng-init="init()">
    <div class="row">
        <!-- <form> -->
            <div class="col-sm-12">
                <div class="form-group" ng-class="{'error': errors.title}">
                    <label for="inputEmail">Title</label>
                    <input type="text" class="form-control" id="assessmentTemplateTitle" placeholder="Template title"
                    ng-model="newAssessmentTemplate.Title" ng-focus="resetField('title')">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" ng-class="{'error': errors.district}">
                    <label for="inputEmail">District</label>
                    <select class="form-control ng-animate-disabled" ng-options="district as district.DistrictName for district in districtOptions track by district.DistrictKey"
                    ng-model="newAssessmentTemplate.District" ng-focus="resetField('district')"></select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" ng-class="{'error': errors.calendar}">
                    <label for="inputEmail">Calendar</label>
                    <select class="form-control ng-animate-disabled" ng-options="calendar as calendar.CalendarName for calendar in calendarOptions track by calendar.CalendarKey"
                    ng-model="newAssessmentTemplate.Calendar" ng-focus="resetField('calendar')"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'error': errors.gradeLevel}">
                    <label for="inputEmail">Grade Level</label>
                    <select class="form-control ng-animate-disabled" ng-options="grade as grade.GradeLevelName for grade in gradeOptions track by grade.GradeLevelKey"
                    ng-model="newAssessmentTemplate.GradeLevel" ng-focus="resetField('gradeLevel')"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'error': errors.subject}">
                    <label for="inputEmail">Subject</label>
                    <select class="form-control ng-animate-disabled" ng-options="subject as subject.SubjectName for subject in subjectOptions track by subject.SubjectKey"
                    ng-model="newAssessmentTemplate.Subject" ng-focus="resetField('subject')"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'error': errors.standardType}">
                    <label for="inputEmail">Standard Type</label>
                    <select class="form-control ng-animate-disabled" ng-options="standardType as standardType.StandardTypeName for standardType in standardTypeOptions track by standardType.StandardTypeKey"
                    ng-model="newAssessmentTemplate.StandardType" ng-focus="resetField('standardType')"></select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmail">Scoring</label>
                    <br>
                    <input type="checkbox" ng-model="newAssessmentTemplate.IsScantron" ng-checked="newAssessmentTemplate.IsScantron">
                    <span class="checkbox-span">Scantron</span>
                    <br>
                </div>
            </div>
        <!-- </form> -->
    </div>
    <div class="row table-title-row">
        <div class="col-sm-5">
            <h5 class="modal-table-title">Assessment Template Items</h5>
        </div>
        <div class="col-sm-7">
            <button class="btn  inga-btn inga-btn-positive right-btn" ng-click="openNewAssessmentItemModal()">New Item</button>
        </div>
    </div>
    <table class="modal-table" >
        <thead>
            <th>Order</th>
            <th>Standard</th>
            <th>Item Type</th>
            <th>Correct Score</th>
            <th>Points</th>
        </thead>

        <tbody ui-sortable="sortableOptions" ng-model="newAssessmentTemplate.AssessmentTemplateItems">
          <tr class="empty-table-row" ng-if="!newAssessmentTemplate.AssessmentTemplateItems.length > 0">
              <td colspan="5">No records to display</td>
          </tr>
        <tr ng-repeat="item in newAssessmentTemplate.AssessmentTemplateItems">
            <td class="editing"><i class="glyphicon glyphicon-remove"></i>{{item.Item.ItemOrder}}</td>
            <td ng-if="!item.Item.Label">{{item.Item.StandardCode}}</td>
            <td ng-if="item.Item.Label">{{item.Item.Label}}</td>
            <td>{{item.Item.ItemType.TypeName}}</td>
            <td>{{item.Item.CorrectScore}}</td>
            <td>{{item.Item.PointsMax}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row below-table-btn-row">
        <button class="btn  inga-btn inga-btn-positive right-btn" ng-click="makeAvailableToUsers()" ng-if="!newAssessmentTemplate.AvailableToUsers">Make Available To Users</button>
        <button class="btn  inga-btn inga-btn-negative right-btn" ng-click="ok()">Save &amp; Exit</button>
        <button class="btn  inga-btn inga-btn-negative right-btn" ng-click="cancel()">Cancel</button>
    </div>
</div>
