<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Create New Master Template</h4>
</div>
<div class="modal-body">
  <div class="row">
    {{newMasterTemplate}}
  </div>
    <div class="row">
        <form>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="inputEmail">Title</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Assessment title" ng-model="newMasterTemplate.title">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Grade Level</label>
                    <select class="form-control" ng-options="grade as grade.gradeName for grade in gradeOptions track by grade.gradeKey" ng-model="newAssessment.grade"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Subject Area</label>
                    <select class="form-control">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Schedule Date</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Assessment title">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">School Year</label>
                    <select class="form-control">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Standard Type</label>
                    <select class="form-control">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Schedule Date</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Assessment title">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmail">Term</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Enter term">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Report Group</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Enter report group">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Scoring</label>
                    <br>
                    <input type="checkbox" name="vehicle" value="Bike"><span class="checkbox-span">Scantron/TurningKey</span>
                    <br>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmail">Optional File</label>
                    <input type="file" class="form-control" id="inputTitle" placeholder="Enter term">
                    <button class="btn inga-btn inga-btn-negative upload-btn">Upload</button>
                    <p class="optional-upload-paragraph">Optionally, select a file to include with the assessment. This file would typically include the questions on the assessment, instructions for completing the assessment, or extra reading or reference material that is required.</p>
                </div>
            </div>
        </form>
    </div>
    <div class="row table-title-row">
        <div class="col-sm-5">
            <h5 class="modal-table-title">Assessment Items</h5>
        </div>
        <div class="col-sm-7">
            <button class="btn  inga-btn inga-btn-positive right-btn" ng-click="openNewAssessmentItemModal()">New Item</button>
        </div>
    </div>
    <table class="modal-table">
        <tr>
            <th>Order</th>
            <th>Standard</th>
            <th>Item Type</th>
            <th>Correct Score</th>
            <th>Points</th>
        </tr>
        <tr class="empty-table-row">
            <td colspan="5">No records to display</td>
        </tr>
    </table>
    <div class="row">
        <div class="below-table-checkbox">
            <input type="checkbox" name="vehicle" value="Bike"><span class="checkbox-span">Save New Assessment as a Template</span>
        </div>
    </div>
    <div class="row below-table-btn-row">
        <button class="btn  inga-btn inga-btn-positive right-btn" ng-click="publish()">Publish</button>
        <button class="btn  inga-btn inga-btn-negative right-btn" ng-click="ok()">Save &amp; Exit</button>
        <button class="btn  inga-btn inga-btn-negative right-btn" ng-click="cancel()">Cancel</button>
    </div>
</div>
