<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Sync Student List</h4>
</div>
<div class="modal-body" ng-init="init()">
  <div class="row table-title-row">
    <div class="col-sm-12">
      <h5 class="modal-table-title">Students To Add</h5>
    </div>
  </div>
  <table class="modal-table">
    <tr ng-if="validationPackage.StudentsToAdd.length > 0">
      <th>Last Name</th>
      <th>First Name</th>
      <th>Student Number</th>
    </tr>
    <tr class="empty-table-row" ng-if="!validationPackage.StudentsToAdd.length > 0">
      <td colspan="3">No students</td>
    </tr>
    <tr ng-repeat="student in validationPackage.StudentsToAdd">
      <td>{{student.LastName}}</td>
      <td>{{student.FirstName}}</td>
      <td>{{student.StudentNumber}}</td>
    </tr>
  </table>
  <div class="row table-title-row">
    <div class="col-sm-12">
      <h5 class="modal-table-title">Students To Remove</h5>
    </div>
  </div>
  <table class="modal-table">
    <tr ng-if="validationPackage.StudentsToRemove.length > 0">
      <th>Last Name</th>
      <th>First Name</th>
      <th>Student Number</th>
    </tr>
    <tr class="empty-table-row" ng-if="!validationPackage.StudentsToRemove.length > 0">
      <td colspan="3">No students</td>
    </tr>
    <tr ng-repeat="student in validationPackage.StudentsToRemove">
      <td>{{student.LastName}}</td>
      <td>{{student.FirstName}}</td>
      <td>{{student.StudentNumber}}</td>
    </tr>
  </table>

  <div class="row below-table-btn-row">
    <button class="btn inga-btn inga-btn-positive right-btn" ng-click="ok()">Ok</button>
    <button class="btn inga-btn inga-btn-negative right-btn" ng-click="cancel()">Cancel</button>
  </div>
</div>
