<div class="modal-header">
    <button type="button" class="close" ng-click="ok()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title-back">Assessment View</h5>
    <h4 class="modal-title-with-back" id="myModalLabel">{{assessment.Title}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <form>
          <div class="col-sm-3">
              <div class="form-group">
                  <label class="no-left-pad" for="inputEmail">Template</label>
                  <h5 class="detail-text" ng-if="assessment.AssessmentTemplate">{{assessment.AssessmentTemplate.Title}}</h5>
                  <h5 class="detail-text" ng-if="!assessment.AssessmentTemplate">None</h5>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="form-group">
                  <label class="no-left-pad" for="inputEmail">Calendar</label>
                  <h5 class="detail-text">{{assessment.Calendar.CalendarName}}</h5>
              </div>
          </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Grade Level</label>
                    <h5 class="detail-text">{{assessment.GradeLevel.GradeLevelName}}</h5>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Subject Area</label>
                    <h5 class="detail-text">{{assessment.Subject.SubjectName}}</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Standard Type</label>
                    <h5 class="detail-text">{{assessment.StandardType.StandardTypeName}}</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">School Year</label>
                    <h5 class="detail-text">{{assessment.SchoolYear.SchoolYearName}}</h5>
                </div>
            </div>


            <div class="clearfix"></div>

            <!-- <div class="col-sm-3">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Optional File</label>
                    <h5 class="detail-text">file.txt</h5>
                </div>
            </div> -->
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="no-left-pad" for="inputEmail">Scoring</label>
                    <br>

                    <input type="checkbox" ng-model="newAssessment.IsScantron" ng-checked="assessment.IsScantron" disabled><span class="checkbox-span">Scantron</span>
                    <br>
                </div>
            </div>

        </form>
    </div>
    <div class="row table-title-row">
        <div class="col-sm-5">
            <h5 class="modal-table-title">Assessment Items</h5>
        </div>
    </div>
    <table class="modal-table">
        <tr>
            <th>Order</th>
            <th>Standard</th>
            <th>Item Type</th>
            <th>Correct Score</th>
            <th>Points</th>
        </tr>
        <tr class="empty-table-row" ng-if="!assessment.DistrictAssessmentItems.length > 0">
            <td colspan="5">No items to display</td>
        </tr>
<tr ng-repeat="item in assessment.DistrictAssessmentItems">
    <td>{{item.Item.ItemOrder}}</td>
    <td>{{item.Item.StandardTypeDescription}}</td>
    <td>{{item.Item.ItemType.TypeName}}</td>
    <td>{{item.Item.CorrectScore}}</td>
    <td>{{item.Item.PointsMax}}</td>
</tr>
    </table>

    <div class="row below-table-btn-row">
        <button class="btn inga-btn inga-btn-positive right-btn" ng-click="goToAssign()" ng-if="assessment.IsPublished">Assign</button>
        <button class="btn inga-btn inga-btn-positive right-btn" ng-click="publish()" ng-if="!assessment.IsPublished">Publish</button>
        <button class="btn inga-btn inga-btn-negative right-btn" ng-click="editAssessment()">Edit Assessment</button>
        <button class="btn inga-btn inga-btn-negative right-btn" ng-click="ok()">OK</button>
    </div>
</div>
